body {
  max-width: 1248px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: rgba(246, 244, 240, 1);
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1152px;
  margin: 24px auto;
  background-color: rgba(42, 44, 46, 1);
  padding: 24px;
  border-radius: 20px;
  align-items: center;
}

.header img {
  width: 166px;
  height: 40px;
}

.form-container {
  max-width: 1200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(42, 44, 46, 1);
  margin: 24px auto;
}

.frame {
  display: flex;
  flex-direction: column;
  width: 740px;
  margin: 0 24px;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  gap: 20px;
}

.form-container h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 24px 24px 12px 24px;
}

.form-container p {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  text-align: left;
}

.book-details,
.register-details {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.register-details p {
  font-size: 16px;
}

.title,
.genre,
.author,
.publisher,
.year-publish,
.pages,
.language,
.name,
.email,
.availability {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

#title,
#genre,
#author,
#publisher,
#year-publish,
#pages,
#language,
#name,
#email {
  min-width: 572px;
  height: 56px;
  border-radius: 16px;
  padding-left: 24px;
  margin: 8px;
}

#radio {
  width: 18px;
  height: 18px;
  margin: 18px 0;
}

#concern {
  width: 22px;
  height: 22px;
}

.concern {
  display: flex;
  align-items: center;
}

.concern-text {
  margin-left: 24px;
}

button {
  text-align: center;
  min-width: 740px;
  height: 56px;
  border-radius: 16px;
  margin: 24px 0 48px 0;
  padding: 16px 28px;
  gap: 12px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(244, 206, 71, 1);
}

/* .footer {
  width: 1248px;
} */

.top-footer,
.bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.top-footer {
  background-color: rgba(42, 44, 46, 1);
  align-items: center;
  padding: 0 24px;
}

.top-footer img {
  width: 204px;
  height: 48px;
}

.social-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.social-icon i {
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}

.bottom-footer {
  background-color: rgba(0, 0, 0, 0.87);
  align-items: center;
  padding: 0 24px;
}

.bottom-footer p {
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  line-height: 16px;
}

.left-footer,
.right-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

@media (max-width: 900px) {
  .header,
  .form-container,
  form {
    flex-direction: column;
    align-items: center;
    margin: 24px auto;
  }

  .title,
  .genre,
  .author,
  .publisher,
  .year-publish,
  .pages,
  .language,
  .name,
  .email,
  .availability,
  .concern {
    flex-direction: column;
    align-items: center;
    margin: 24px auto;
  }
}

@media (max-width: 375px) {
  #title,
  #genre,
  #author,
  #publisher,
  #year-publish,
  #pages,
  #language,
  #name,
  #email {
    flex-direction: column;
    align-items: center;
  }
}
